#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_fixperms:
	dh_fixperms
	find debian -name 'poe-gen-tool' -type f -exec chmod 0755 {} +
